<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />

  <title>Online Learning Website</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    header {
      height: 70px;
      /* background-color: pink; */
      padding: 10px;
    }

    nav {
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }

    nav ul {
      display: flex;
      justify-content: space-between;
      width: 500px;
      margin-top: 8px;
    }

    nav ul li {
      list-style: none;

    }

    nav ul li a {
      text-decoration: none;
      font-size: 17px;
      color: black;
      text-transform: capitalize;
    }

    .logo h1 {
      font-size: 35px;
    }

    main {
      text-align: center;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <h1>stige</h1>
      </div>
      <div>
        <ul>
          <li>
            <a aria-current="page" href="/">Home</a>
          </li>
          <li>
            <a href="/userprofile">Profile</a>
          </li>
          <li>
            <a href="/task">Add task</a>
          </li>
          <li>
            <a href="/course">your courses</a>
          </li>

          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <h1>Courses Assigned to You</h1>

    <div>
      <ul>
        <li>
          <iframe width="33%" height="315" src="https://www.youtube.com/embed/bxsemcrY4gQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <iframe width="33%" height="315" src="https://www.youtube.com/embed/zW_tZR0Ir3Q" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <iframe width="33%" height="315" src="https://www.youtube.com/embed/zW_tZR0Ir3Q" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </li>
      </ul>
    </div>
  </main>
</body>

</html>